<!DOCTYPE HTML>
<html xmlns="http://www.thymeleaf.org">

<head th:insert="~{fragments/fragments :: head}">
</head>


<body>

	<header th:insert="~{fragments/navbar :: navbar(userId=${usernameId})}">
	</header>

	<main>

		<!-- Section form update -->
		<section class="container text-center">
			<div class="row gap-4 justify-content-center">

				<!-- Title -->
				<div class="col-12 pt-3 d-flex flex-column gap-3">
					<h1>Modifica ticket</h1>
					<p>Complete the form to modificate the ticket!!!</p>
				</div>


				<!-- Form edit ticket -->
				<form class="col-12 col-lg-6" id="form-update-ticket" th:object="${ticket}"
					th:action="@{/tickets/edit/{id}(id=${ticket.id})}" method="POST">


					<!-- Input id -->
					<div class="mb-3">
						<input type="hidden" class="form-control" id="id" th:field="*{id}" th:value="*{id}"
							aria-label="readonly id ticket" readonly>
					</div>
					
					<!-- Input category -->
					<div class="mb-3">
						<input type="hidden" class="form-control" id="id_category" th:field="*{category}" th:value="*{category.getId()}"
							aria-label="readonly id category" readonly>
					</div>

					<!-- Input name -->
					<div class="mb-3">
						<label for="name" class="form-label">Name</label>
						<input type="text" class="form-control" id="name" aria-label="Disabled input name of ticket"
							th:field="*{name}">
					</div>


					<!-- Input status now -->
					<div class="mb-3">
						<label for="status" class="form-label">Status now</label>
						<input type="text" class="form-control"
							th:value="${status}" aria-label="readonly status ticket" readonly>
					</div>

					<!-- Input status -->
					<div class="mb-3">
						<h6 class="form-label">Choose new status</h6>
						<div class="form-check d-flex text-start gap-2">
							<input class="form-check-input" type="radio" name="status" id="status" value="Da fare" th:field="*{status}">
							<label class="form-check-label" for="status">
								Da fare
							</label>
						</div>
						<div class="form-check d-flex text-start gap-2">
							<input class="form-check-input" type="radio" name="status" id="status" value="In corso" th:field="*{status}" checked>
							<label class="form-check-label" for="status">
								In corso
							</label>
						</div>
						<div class="form-check d-flex text-start gap-2">
							<input class="form-check-input" type="radio" name="status" id="status" value="Completato" th:field="*{status}">
							<label class="form-check-label" for="status">
								Completato
							</label>
						</div>
					</div>

					<!-- Input note -->
					<div class="mb-3">
						<a th:href="@{/tickets/show/{id}/note(id=${ticket.id})}" style="text-decoration: none;">
							<button type="button" class="btn btn-secondary mt-2 mb-2">ADD A NEW NOTE</button>
						</a>
					</div>
					
					<!-- Input user -->
					<div class="mb-3 d-none">
						<label for="user" class="form-label">user</label>
						<input type="number" class="form-control" id="user" th:field="*{user.id}"
							th:value="*{user.getId()}" aria-label="readonly user" readonly>
					</div>

					<!-- Input email user -->
					<div class="mb-3">
						<label for="userEmail" class="form-label">user</label>
						<input type="email" class="form-control" id="userEmail" th:value="*{user.getEmail()}"
							aria-label="readonly user email" disabled>
					</div>


					<!-- Button -->
					<div class="mb-3 d-flex justify-content-center gap-2">

						<button type="submit" class="btn btn-warning mt-2 mb-2">UPDATE</button>

						<button type="reset" class="btn btn-danger mt-2 mb-2">RESET</button>

						<a href="/tickets/list-tickets" style="text-decoration: none;">
							<button type="button" class="btn btn-dark mt-2 mb-2">BACK</button>
						</a>

					</div>

				</form>

			</div>


		</section>


	</main>

</body>


<th:block th:replace="~{fragments/fragments :: scripts}">
</th:block>


</html>