<!DOCTYPE HTML>
<html xmlns="http://www.thymeleaf.org">

<head th:insert="~{fragments/fragments :: head}">
</head>


<body>

	<header th:insert="~{fragments/navbar :: navbar}">
	</header>

	<main>

		<!-- Section table index -->
		<section class="container-sm text-center">
			<div class="row gap-5">

				<!-- Title -->
				<div class="col-12 pt-3">
					<h1>Lista Tickets</h1>
				</div>

				
				<!-- Condizione db popolato -->
				<th:block th:if="${tickets.size > 0}">

					<!-- Search -->
					<div class="col-12 col-lg-6">
						<form th:action="@{/tickets}" method="GET">
							<div class=" input-group mb-3 mb-3">
								<input type="text" class="form-control" name="name"
									placeholder="Insert specific name ticket">
								<button type="submit" class="btn btn-primary">Search</button>
							</div>
						</form>
					</div>


					<!-- Table -->
					<div class="col-12">
						<table class="table">

							<!-- Columns -->
							<thead>
								<tr>
									<th class="d-none d-sm-table-cell" scope="col">#</th>
									<th scope="col">Name</th>
									<th scope="col">Status</th>
									<th class="d-none d-md-table-cell" scope="col">Operator</th>
									<th class="d-none d-md-table-cell" scope="col">Note</th>
									<th class="d-none d-md-table-cell" scope="col">Show</th>
									<th class="d-none d-md-table-cell" scope="col">Update</th>
									<th class="d-none d-md-table-cell" scope="col">Delete</th>
									<th class="d-md-none" scope="col">Action</th>
								</tr>
							</thead>

							<!-- Row -->
							<tbody>
								<tr th:each="ticket : ${tickets}">

									<!-- Id -->
									<td class="d-none d-sm-table-cell" th:text="${ticket.id}"></td>

									<!--Name -->
									<td th:text="${ticket.name}"></td>

									<!-- Status -->
									<td class="coll" th:text="${ticket.status}"></td>

									<!-- Operator-->
									<td class="d-none d-md-table-cell" th:text="${ticket.operator.getEmail()}"></td>

									<!-- Note-->
									<td class="d-none d-md-table-cell" th:if="${ticket.notes.size > 0}" th:text="${ticket.notes}"></td>
									
									<td class="d-none d-md-table-cell" th:unless="${ticket.notes.size > 0}">EMPTY</td>
									
									<!-- Button show -->
									<td class="d-none d-md-table-cell">
										<a th:href="@{/tickets/show/{id}(id=${ticket.id})}"
											class="btn btn-success">SHOW</a>
									</td>

									<!-- Button update -->
									<td class="d-none d-md-table-cell">
										<a th:href="@{/tickets/edit/{id}(id=${ticket.id})}"
											class="btn btn-warning">UPDATE</a>
									</td>

									<!-- Button modal -->
									<td class="d-none d-md-table-cell">
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-danger" data-bs-toggle="modal"
											th:data-bs-target="'#modal-delete-' + ${ticket.id}">
											DELETE
										</button>

										<!-- Modal -->
										<div class="modal fade" th:id="'modal-delete-' + ${ticket.id}" tabindex="-1"
											aria-labelledby="modal-delete" aria-hidden="true">
											<div class="modal-dialog modal-fullscreen-sm-down">
												<div class="modal-content">

													<div class="modal-header">
														<h1 class="modal-title fs-5" id="exampleModalLabel">ARE YOU SURE
															OF DELETE THIS TICKET?</h1>
														<button type="button" class="btn-close" data-bs-dismiss="modal"
															aria-label="Close"></button>
													</div>

													<div class="modal-body">
														Deleting ticket...
													</div>

													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-bs-dismiss="modal">NO</button>

														<!-- Form delete button -->
														<form class="d-inline-block"
															th:action="@{/tickets/delete/{id}(id=${ticket.id})}"
															method="POST">
															<button type="submit" class="btn btn-danger">YES</button>
														</form>

													</div>
												</div>
											</div>
										</div>
									</td>

									<!-- Button action size phone -->
									<td class="d-md-none d-flex flex-column gap-2 align-items-center">

										<!-- Button show -->
										<a th:href="@{/tickets/show/{id}(id=${ticket.id})}" style="text-decoration: none;">
											<button type="button" class="btn btn-success"
												style="max-width: 80px;">SHOW</button>
										</a>

										<!-- Button update -->
										<a th:href="@{/tickets/edit/{id}(id=${ticket.id})}" style="text-decoration: none;">
											<button type="button" class="btn btn-warning"
												style="max-width: 80px;">UPDATE</button>
										</a>

										<!-- Button trigger modal -->
										<button type="button" class="btn btn-danger" style="max-width: 80px;"
											data-bs-toggle="modal" th:data-bs-target="'#modal-delete-' + ${ticket.id}">
											DELETE
										</button>

										<!-- Modal -->
										<div class="modal fade" th:id="'modal-delete-' + ${ticket.id}" tabindex="-1"
											aria-labelledby="modal-delete" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">

													<div class="modal-header">
														<h1 class="modal-title fs-5" id="exampleModalLabel">ARE YOU SURE
															OF DELETE THIS TICKET?</h1>
														<button type="button" class="btn-close" data-bs-dismiss="modal"
															aria-label="Close"></button>
													</div>

													<div class="modal-body">
														Deleting ticket...
													</div>

													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-bs-dismiss="modal">NO</button>

														<!-- Form delete button -->
														<form class="d-inline-block"
															th:action="@{/tickets/delete/{id}(id=${ticket.id})}"
															method="POST">
															<button type="submit" class="btn btn-danger">YES</button>
														</form>

													</div>
												</div>
											</div>
										</div>

									</td>

								</tr>
							</tbody>

						</table>
					</div>

				</th:block>


				<!--  CONDIZIONE DB NON POPOLATO -->
				<th:block th:unless="${tickets.size > 0}">

					<!-- Error -->
					<div class="col-12 justify-content-center position-absolute top-50 start-50 translate-middle">

						<!-- Title -->
						<h3 class="fw-bold pb-3">Tickets non presenti</h3>

						<!-- Spinner -->
						<div class="spinner-border" role="status">
							<span class="visually-hidden">Loading...</span>
						</div>

					</div>

				</th:block>

			</div>
		</section>


	</main>

</body>


<th:block th:replace="~{fragments/fragments :: scripts}">
</th:block>


</html>