<!DOCTYPE HTML>

<html xmlns="http://www.thymeleaf.org">

<body>

	<header>
		<nav th:fragment="navbar(userId)" class="navbar navbar-expand-sm bg-body-tertiary">
			<div class="container-fluid">

				<!-- Title-->
				<a class="navbar-brand" th:href="@{/tickets/list-tickets}">Tickets</a>

				<!-- Title -->
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- Menu' -->
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav gap-2">

						<!-- List tickets -->
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" th:href="@{/tickets/list-tickets}">List
								Tickets</a>
						</li>

						<!-- Create tickets -->
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" th:href="@{/tickets/create}"
								sec:authorize="hasAuthority('ADMIN')">Create Ticket</a>
						</li>

						<!-- List categories -->
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" th:href="@{/categories/list-categories}" sec:authorize="hasAuthority('ADMIN')">List
								Categories</a>
						</li>
						
						<!-- Create categories -->
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" th:href="@{/categories/create}"
								sec:authorize="hasAuthority('ADMIN')">Create Category</a>
						</li>

						
						<!-- Create user -->
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" th:href="@{/users/create}"
								sec:authorize="hasAuthority('ADMIN')">Create User</a>
						</li>

						<!-- List user -->
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" th:href="@{/users/list-users}"
								sec:authorize="hasAuthority('ADMIN')">List Users</a>
						</li>

						<!-- Check of logged user -->
						<li class="nav-item d-sm-block d-md-none fw-bold pt-2" sec:authorize="hasAuthority('ADMIN')">
							ADMIN : <span sec:authentication="name"></span>
						</li>


						<!-- Check of logged user -->
						<li class="nav-item d-sm-block d-md-none fw-bold pt-2" sec:authorize="hasAuthority('OPERATOR')">
							OPERATOR : <span sec:authentication="name"></span>
						</li>

						<!-- Profile settings -->
						<a th:href="@{/users/user-profile/edit/{id}(id=userId)}" class="text-decoration-none">
							<li class="nav-item d-sm-block d-md-none fw-bold pt-2"
								sec:authorize="hasAuthority('OPERATOR')">
								Profile Settings
							</li>
						</a>

						<!-- Exit -->
						<li class="nav-item d-sm-block d-md-none fw-bold pt-2">
							<a th:href="@{/logout}" class="text-decoration-none fw-bold text-dark">
								Exit
							</a>
						</li>

					</ul>
				</div>


				<!-- Check of logged user -->
				<div class="d-none d-md-block fw-bold me-2" sec:authorize="hasAuthority('ADMIN')">
					<a th:href="@{/logout}">
						<button type="button" class="btn btn-dark">
							Exit
						</button>
					</a>
				</div>

				<!-- Check of logged user -->
				<div class="d-none d-md-block fw-bold" sec:authorize="hasAuthority('ADMIN')">
					ADMIN : <span sec:authentication="name"></span>
				</div>

				<div class="d-none d-md-flex fw-bold gap-2 align-items-center" sec:authorize="hasAuthority('OPERATOR')">

					<!-- Setting logged user -->
					<div class="btn-group">

						<!-- Button -->
						<button type="button" class="btn btn-sm btn-dark dropdown-toggle" data-bs-toggle="dropdown"
							aria-expanded="false">
							Setting
						</button>

						<!-- Menu -->
						<ul class="dropdown-menu">

							<!-- Profile settings -->
							<a th:href="@{/users/user-profile/edit/{id}(id=${userId})}" style="text-decoration: none;">
								<li class="dropdown-item">
									Profile Settings
								</li>
							</a>
							<li><a class="dropdown-item" th:href="@{/logout}">Exit</a></li>
						</ul>

					</div>

					<div>
						OPERATOR : <span sec:authentication="name"></span>
					</div>
				</div>

			</div>
		</nav>
	</header>

</body>

</html>